@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {position: relative}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
    height: 100%;
}
button {cursor: pointer;}
textarea {font-family: 'NanumGothic';}
input:focus, textarea:focus {outline: none;}

.container {
    width: 1200px;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: fixed;
    z-index: 99;
    background: #fff;
    width: 100%;
    left: 50%;
    height: 80px;
    transform: translateX(-50%);
    border-bottom: solid 1px #d9d9d9;
}
header > .container {
    height: 100%;
}
header > .container > .logo {
    width: 150px;
    height: 100%;
    float: left;
}
header > .container > .logo > a > img {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
header > .container > .menu {
    height: 100%;
    float: right;
}
header > .container  > .menu > a {
    top: 40%;
    margin-left: 20px;
    color: black;
    text-decoration-line : none;
}

#search {
    float: left;
    height: 40px;
    padding: 20px 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: solid 1px #d9d9d9;
}
#search > p {
    float: left;
    font-size: 20px;
    line-height: 40px;
    margin: 0 20px 0 0 ;
    font-weight: bold;
    color: #041552;
}
#search > input {
    float: left;
    padding: 0 20px;
    width: 1050px;
    height: 35px;
    background: #f5f5f5;
    border-radius: 10px;
    border: solid #f5f5f5;
}
#search > button {
    float: right;
    border: none;
    background: none;
    height: 100%;
}
#search > button > i {
    color: #041552;
    font-size: 20px;
}

.changepasswd {
    width: 500px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.changepasswd > h1 {
    font-size: 36px;
    color: #001c54;
    margin-top: 150px;
    margin-bottom: 20px;
}

#changepasswd-form > .content {
    display: flex;
    align-items: center;
}

#changepasswd-form > .content > img {
    width: 60px;
    padding-bottom: 20px;
    padding-right: 10px;
}

#changepasswd-form > .content > input {
    width: 70%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #f3f6fb;
}

#changepasswd-form > input::placeholder {
    color: #999999;
}

#changepasswd-form > input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #001c54;
    margin-left: 15px;
    width: 35%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}

#changepasswd-form > input[type="reset"] {
    color: #fff;
    font-size: 16px;
    background-color: #001c54;
    width: 35%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}