@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {position: relative}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
    height: 100%;
}
button {cursor: pointer;}
textarea {font-family: 'NanumGothic';}
input:focus, textarea:focus {outline: none;}

.container {
    width: 1200px;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: fixed;
    z-index: 99;
    background: #fff;
    width: 100%;
    left: 50%;
    height: 80px;
    transform: translateX(-50%);
}
header > .container {
    height: 100%;
}
header > .container > .logo {
    width: 150px;
    height: 100%;
    float: left;
}
header > .container > .logo > a > img {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
header > .container > .menu {
    height: 100%;
    float: right;
}
header > .container  > .menu > a {
    top: 40%;
    margin-left: 20px;
    color: black;
    text-decoration-line : none;
}

header > .container > .menu > button {
    top: 45%;
    margin-left: 20px;
    font-size: 28px;
    color: #041552;
    background-color: #fff;
    border: none;
}

#tool_bar {
    background: #fff;
    float: left;
    margin-top: 70px;
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: solid 1px #d9d9d9;
    padding: 10px 0;
}
#tool_bar > .container > button {
    border: solid 1px #d9d9d9;
    background: #fff;
    border-radius: 5px;
    padding: 5px 15px;
}

#note-view {
    margin-top: 120px;
    float: left;
    /* border-bottom: solid 1px #d9d9d9; */
}

#note-view > h1 {
    font-size: 48px;
}

#note-view > .tag_box > button {
    padding: 0 20px;
    border: none;
    background-color: #041552;
    color: #fff;
    border-radius: 50px;
    height: 27px;
    margin-bottom: 20px;
}

#note-view-stork {
    width: 100%;
    border-bottom: solid 1px #d9d9d9;
}

.button-box {
    position: fixed;
    bottom: 0;
    width: 90%;

}

.button-box > button {
    padding: 0 20px;
    border: solid #041552;
    color: #fff;
    height: 40px;
    width: 200px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: #041552;
    float: right;
}

