.chgProfile {
    width: 500px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}
.chgProfile > h1 {
    font-size: 36px;
    color: #001c54;
    margin-bottom: 20px;
    margin-top: 100px;    
}

#chgProfile-form > .chgProfile-content {
    display: flex;
    align-items: center;
}

#chgProfile-form > .chgProfile-content > img {
    width: 60px;
    padding-bottom: 15px;
    padding-right: 10px;
}

#chgProfile-form > .chgProfile-content > input {
    width: 70%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F3F6FB;
}

#chgProfile-form > input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #001c54;
    margin-left: 15px;
    width: 35%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}

#chgProfile-form > input[type="reset"] {
    color: #fff;
    font-size: 16px;
    background-color: #001c54;
    width: 35%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}