.login-wrapper {
    width: 500px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    /* border: #001c54; */
}
.login-wrapper > h1 {
    font-size: 36px;
    color: #001c54;
    margin-bottom: 20px;
    margin-top: 150px;    
}

#login-form > .content {
    display: flex;
    align-items: center;

}

#login-form > .content > img {
    width: 60px;
    padding-bottom: 20px;
    padding-right: 10px;
}

#login-form > .content > input {
    width: 70%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F3F6FB;
}

#login-form > input::placeholder {
    color: #999999;
}

#login-form > input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #001c54;
    /* margin-left: 200px; */
    /* width: 100px; */
    width: 70%;
    margin-left: 15px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
}
