@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {position: relative}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
    height: 100%;
}
button {cursor: pointer;}
textarea {font-family: 'NanumGothic';}
input:focus, textarea:focus {outline: none;}

.container {
    width: 1200px;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: fixed;
    z-index: 99;
    background: #fff;
    width: 100%;
    left: 50%;
    height: 80px;
    transform: translateX(-50%);
    border-bottom: solid 1px #d9d9d9;
}
header > .container {
    height: 100%;
}
header > .container > .logo {
    width: 150px;
    height: 100%;
    float: left;
}
header > .container > .logo > a > img {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
header > .container > .menu {
    height: 100%;
    float: right;
}
header > .container  > .menu > a {
    top: 40%;
    margin-left: 20px;
    color: black;
    text-decoration-line : none;
}

.note-view {
    margin-top: 120px;
    float: left;
    /* border-bottom: solid 1px #d9d9d9; */
}

.note-view > h1 {
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}
.note-view > .tag_box{
    margin-top: 10px;
}

.note-view > .tag_box > button {
    padding: 0 20px;
    border: none;
    background-color: #041552;
    color: #fff;
    border-radius: 50px;
    height: 27px;
    margin-bottom: 20px;
}

/*.note-view-stork {*/
/*    width: 100%;*/
/*    border-bottom: solid 1px #d9d9d9;*/
/*}*/


/* gyuri */
#note-view > .content > p {
    cursor: pointer;
}

.note-view > .buttons {
    margin-top: 20px;
    float: left;
    width: 100%;
    border-top: 1px solid #d9d9d9;

}
.note-view > .buttons > a, .note-view > .buttons > button {
    background: #fff;
    margin-top: 20px;
    border: solid 1px #041552;
    color: #041552;
    text-decoration-line: none;
    padding: 10px 40px;
    float: right;
    margin-left: 20px;
}
#note-view .note-quiz-problem {
    background: #d9d9d9;
    padding: 2px 50px;
    font-weight: bold;
    font-size: 14px;
    cursor: text;
    margin: 0 5px;
}
#note-view > .problems {
    width: 100%;
    float: left;
    border-top: solid 1px #d9d9d9;
    padding-top: 20px;
    display: none;
}
#note-view > .problems > .problem-item {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
#note-view > .problems > .problem-item > p {
    float: left;
    line-height: 30px;
    margin: 0;
    font-weight: 900;
}
#note-view > .problems > .problem-item > input {
    float: left;
    margin-left: 20px;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
}
#note-view > .problems > .problem-item > i {
    color: rgb(65, 191, 146);
    line-height: 30px;
    font-size: 30px;
    margin-left: 10px;
}
#note-view > .problems > .problem-item > i.fa-x {
    color: #e03131;
}
#note-view > .problems > .problem-item > button {
    float: left;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    color: rgb(65, 191, 146);
    border: solid 1px rgb(65, 191, 146);
}